%h1 Listing lesson_reservations

%table
  %thead
    %tr
      %th 講師
      %th 言語
      %th 日時
      %th zoom URL

  %tbody
    - @lesson_reservations.each do |lesson_reservation|
      %tr
        %td= lesson_reservation.lesson.teacher.name
        %td= lesson_reservation.lesson.language.name
        %td= h_lesson_datetime(lesson_reservation.lesson)
        %td