%table.table.table-striped
  %thead
    %th フィードバック内容
    %th 日時
  %tbody
    - @feedbacks.each do |feedback|
      %tr
        %td= simple_format feedback.body
        %td= feedback.created_at.strftime('%Y/%m/%d %H:%M:%S')

= link_to '戻る', lesson_reservations_path, class: 'btn btn-outline-secondary'