%h1 Teacher::Home#index
%p Find me in app/views/teacher/home/index.html.haml

= link_to 'プロフィール編集', teacher_edit_path
= link_to 'レッスン枠登録', teacher_lessons_path
= link_to 'ユーザー予約済みレッスン', teacher_reserved_lessons_path