%h2.text-center 外国語レッスン（講師）
.card
  .card-body
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false
      = f.button :submit, 'ログイン', class: 'btn-outline-success'