%h1 レッスン予定
%table.table.table-striped
  %thead
    %tr
      %th ユーザー名
      %th 日時
      %th 言語
      %th zoom URL
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.user.name
        %td= h_lesson_datetime(lesson)
        %td= lesson.language.name
        %td
          %a{ href: lesson.lesson_reservation.zoom_url}= lesson.lesson_reservation.zoom_url